@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Roboto&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0px;}

h1,h2,h3,a{font-family: 'Gabarito', sans-serif;}

@media (max-width: 960px) {
  .container {width: 700px;}}

@media (max-width: 720px) {
  .container {width: 500px;}}

@media (max-width: 540px) {
  .container {width: 300px;}}

 a{
 	text-decoration: none;

 }